.about {
    max-width: 1249px;
    margin: 72px auto;
    text-align: center;
    position: relative;

    @media screen and (min-width: 900px) {
        text-align: left;
        margin-top: 150px;
	}
}

.about__title {
    position: relative;
    width: max-content;
    max-width: 100%;
    z-index: 1;
    margin: 0 auto;

    @media screen and (min-width: 900px) {
        margin: 0;
    } 
}

.about__title::after {
    content: '';
    display: block;
    width: 110%;
    height: 25px;
    left: -10px;
    background-color: $color__background-hr;
    position: absolute;
    top: 50%;
    z-index: -1;

    @media screen and (min-width: 900px) {
        height: 42px;
        left: -18px;
    }
}

.about__subtitle {
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 56px;
    font-weight: 400;
}

.about__image {
    display: none;

    @media screen and (min-width: 900px) {
        display: block;
        position: absolute;
        top: 80px;
        right: 120px;
    }
}

.about__image-pen {
    @media screen and (min-width: 900px) {
        position: absolute;
        top: -45px
    }
}

/* Slider */
.about__slider {
    margin-top: 25px;   

    @media screen and (min-width: 900px) {
        margin-top: 65px;
   }
}

.about__slider-position {
    font-weight: 300;
    margin: 0 0 65px 0;
    font-style: normal;
    line-height: 22px;
    font-size: 18px;
}

.about__slider-image {
    display: block;
    margin: 0 auto;
}

/* Call to action */
.cta {
    background-color: $color__main;
    text-align: center;
    color: #FFFFFF;
    min-height: 645px;
    margin-bottom: -30px;
}

.cta__container {
    max-width: 1249px;
    margin: 0 auto;
    padding: 105px;
    position: relative;
}

.cta-image {
    margin-bottom: 30px;
}

.cta-decoration {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 10;
}

.cta-copy {
    font-size: 20px;
    font-weight: 400;
}